body{
    font-family: Arial, sans-serif;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
section{
    margin: 20px;
}
#bio,#work{
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}
.project{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 200px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
}